---
import BaseLayout from "@/layouts/BaseLayout.astro";
---
<BaseLayout>
  <div class="m-8 p-4 text-lg">
    <h1 class="text-4xl text-center mb-16">Política de Privacidad</h1>

    <p class="text-lg">En <a href="/">sercomi.com</a>, la privacidad de nuestros usuarios es una prioridad. Esta política explica qué datos recopilamos, cómo los usamos y qué derechos tienes al respecto.</p>
    <h2 class="text-2xl my-4">1. Datos que recopilamos</h2>
      <p>Recopilamos únicamente los datos necesarios para ofrecer y mejorar nuestros servicios. Esto puede incluir:</p>
      <ul class="list-disc ml-8">
        <li>Información de contacto (si decides enviarnos un mensaje)</li>
        <li>Datos técnicos (como dirección IP, navegador, sistema operativo)</li>
        <li>Datos de navegación mediante cookies</li>
      </ul>  
      <p>Si decides contactarnos, solo utilizaremos tus datos para responder a tu solicitud.</p>

    <h2 class="text-2xl mt-4 mb-4">2. Finalidad del tratamiento</h2>
      <p>Los datos se utilizan para:</p>
      <ul class="list-disc ml-8">
          <li>Mejorar el funcionamiento del sitio web</li>
          <li>Analizar el tráfico y el uso del sitio</li>
          <li>Atender solicitudes de contacto, si las hubiera</li>
      </ul>
      <p>No vendemos ni compartimos tus datos con terceros sin tu consentimiento.</p>
    <h2 class="text-2xl mt-4 mb-4">3. Uso de cookies</h2>
    <p>Este sitio puede utilizar cookies propias y de terceros con fines técnicos y analíticos. Puedes configurar tu navegador para rechazarlas o eliminarlas.</p>

    <h2 class="text-2xl mt-4 mb-4">4. Derechos del usuario</h2>
    <p>Puedes ejercer tus derechos de acceso, rectificación, supresión y otros enviando un correo a hola@sercomi.com. Te responderemos lo antes posible.</p>

    <h2 class="text-2xl mt-4 mb-4">5. Cambios en esta política</h2>
    <p>Nos reservamos el derecho de modificar esta política en cualquier momento. La versión actual estará siempre disponible en esta página.</p>

    <h2 class="text-2xl mt-4 mb-4">6. Contacto</h2>
    <p>Si tienes preguntas o inquietudes sobre esta política, puedes contactarnos a través del email: <a href="mailto:hola@sercomi.com">hola@sercomi.com</a></p>
  </div>
</BaseLayout>