---
interface Props {
  className?: string;
  iconClassName?: string;
}

const { className = "h-10 w-10", iconClassName = "text-2xl" } = Astro.props;
---

<div
  class:list={[
    "bg-cyan-900 rounded-md flex items-center justify-center",
    className,
  ]}
>
  <span class:list={["icon icon-rounded text-white", iconClassName]}
    >terminal</span
  >
</div>
